html{ 
    scroll-behavior: smooth;
}

 body{
     background-image: url(fond.jpg);
     margin-bottom: 5%;
     margin: 10vh 10vw;
}
 h1{
     color: honeydew;
     text-align: center;
     border: 2px solid rgb(31, 5, 80);
     border-radius: 10px;
     border-left: 2cm;
     border-right: 2cm;
     margin-left: 70px;
     margin-right: 70px;
     margin-top: 60px;
}
 #aa {
     color: honeydew;
     margin-left: 35%;
     margin-top: 8%;
     font-size: 20px;
     text-decoration: none;
}
 #ab {
     color: honeydew;
     margin-left: 10%;
     margin-top: 8%;
     font-size: 20px;
     text-decoration: none;
}
 #boxa {
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     font-weight: bolder;
     font-size: 3rem;
     position: relative;
     width: 80%;
     height: 300px;
     background-color: rgb(255, 255, 255);
     border: 1px solid rgba(59,58,58,0.46);
     border-radius: 20px;
     box-shadow: -10px 5px 10px gray;
     top: 0;
     transition: top ease 0.5s;
     margin-left: 3%;
     margin-top: 100px;
     margin-bottom: 9px;
}

#boxb {
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 font-weight: bolder;
 font-size: 3rem;
 position: relative;
 width: 80%;
 height: 300px;
 background-color: white;
 border: 1px solid rgba(59,58,58,0.46);
 border-radius: 20px;
 box-shadow: -10px 5px 10px gray;
 top: 0;
 transition: top ease 0.5s;
 margin-left: 3%;
 margin-top: 100px;
 margin-right: 80px;
 margin-bottom: 9px;
}
#boxc {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bolder;
    font-size: 3rem;
    position: relative;
    width: 80%;
    height: 300px;
    background-color: white;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px gray;
    top: 0;
    transition: top ease 0.5s;
    margin-left: 3%;
    margin-top: 100px;
    margin-bottom: 9px;
}
#boxd {
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 font-weight: bolder;
 font-size: 3rem;
 position: relative;
 width: 80%;
 height: 300px;
 background-color: white;
 border: 1px solid rgba(59,58,58,0.46);
 border-radius: 20px;
 box-shadow: -10px 5px 10px gray;
 top: 0;
 transition: top ease 0.5s;
 margin-left: 3%;
 margin-top: 100px;
 margin-right: 80px;
 margin-bottom: 9px;
}
#boxe {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bolder;
    font-size: 3rem;
    position: relative;
    width: 80%;
    height: 300px;
    background-color: white;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px gray;
    top: 0;
    transition: top ease 0.5s;
    margin-left: 3%;
    margin-top: 100px;
    margin-bottom: 9px;
}
#boxf {
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 font-weight: bolder;
 font-size: 3rem;
 position: relative;
 width: 80%;
 height: 300px;
 background-color: white;
 border: 1px solid rgba(59,58,58,0.46);
 border-radius: 20px;
 box-shadow: -10px 5px 10px gray;
 top: 0;
 transition: top ease 0.5s;
 margin-left: 3%;
 margin-top: 100px;
 margin-right: 80px;
 margin-bottom: 9px;
}
#boxg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bolder;
    font-size: 3rem;
    position: relative;
    width: 80%;
    height: 300px;
    background-color: white;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px gray;
    top: 0;
    transition: top ease 0.5s;
    margin-left: 3%;
    margin-top: 100px;
    margin-bottom: 9px;
}
#boxh {
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 font-weight: bolder;
 font-size: 3rem;
 position: relative;
 width: 80%;
 height: 300px;
 background-color: white;
 border: 1px solid rgba(59,58,58,0.46);
 border-radius: 20px;
 box-shadow: -10px 5px 10px gray;
 top: 0;
 transition: top ease 0.5s;
 margin-left: 3%;
 margin-top: 100px;
 margin-right: 80px;
 margin-bottom: 9px;
}
#boxi {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bolder;
    font-size: 3rem;
    position: relative;
    width: 80%;
    height: 300px;
    background-color: white;
    border: 1px solid rgba(59,58,58,0.46);
    border-radius: 20px;
    box-shadow: -10px 5px 10px gray;
    top: 0;
    transition: top ease 0.5s;
    margin-left: 3%;
    margin-top: 100px;
    margin-bottom: 9px;
}
#boxj {
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 font-weight: bolder;
 font-size: 3rem;
 position: relative;
 width: 80%;
 height: 300px;
 background-color: white;
 border: 1px solid rgba(59,58,58,0.46);
 border-radius: 20px;
 box-shadow: -10px 5px 10px gray;
 top: 0;
 transition: top ease 0.5s;
 margin-left: 3%;
 margin-top: 100px;
 margin-right: 80px;
 margin-bottom: 80px;
}
 #a{
     color: honeydew;
     margin-left: 7%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
     }
 #b{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #c{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #d{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #e{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #f{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #g{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #h{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #i{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #j{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 #ij{
     color: honeydew;
     margin-left: 5%;
     margin-top: 8%;
     font-size: 18px;
     text-decoration: none;
 }
 .boxp{
     display: flex;
     flex-direction: row;
 }
 .boxk{
     display: flex;
     flex-direction: row;
 }
 .boxp p {
     color: honeydew;
     margin-top: 110px;
     font-size: 21px;
     margin-left: 2%;
     text-align: left;
 }
 .boxk p {
    color: honeydew;
    margin-top: 110px;
    font-size: 21px;
    margin-left: 2%;
    text-align: left;
}
 #suna{
     width: 20%;
     height: 20%;
     margin-top: 100px;
     margin-left: 1%;
     margin-right: 2%;
 }
 #vena{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 2%;
}
.alinea { 
    text-indent: 4%; 
  }
  #marsa{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 2%;
}
#nepta{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 2%;
}
#satura{
    width: 30%;
    height: 30%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 0.5%;
}
#merca{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 0.5%;
}
#terra{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 0.5%;
}
#jupa{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 0.5%;
}
#urata{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 0.5%;
}
#pluta{
    width: 20%;
    height: 20%;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 0.5%;
}